<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Mail\Template\TransportBuilder" type="Xigen\ContactAttachment\Rewrite\Magento\Framework\Mail\Template\TransportBuilder"/>
    <preference for="Magento\Contact\Controller\Index\Post" type="Xigen\ContactAttachment\Rewrite\Magento\Contact\Controller\Index\Post"/>
</config>
